header {
    min-height: 5vh;

    #logo-holder {
        margin-left: 20px;
    }

    #nav-holder {
        margin-right: 20px;
    }

    #logo {
        width: auto;
        max-width: 100%;
        max-height: 31px;
        margin: 40px;
    }

    #nav {
        margin: 10px 20px;
        text-transform: uppercase;

        ul li {
            z-index: 2;
            margin: 10px 20px;
            letter-spacing: .23em;
            font-size: 1.2rem;
            position: relative;

            ul {
                position: absolute;
                left: -170px;
                text-align: left;
                background: #333;
                min-width: 230px;

                a {
                    font-weight: bold;
                    color: #fff;
                    cursor: pointer;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}