footer {
    text-align: center;

    #footer-navs-holder {
        padding: 100px;
    }

    #socials {
        width: 25%;
        margin-left: 120px;

        img {
            margin: 10px;
        }
    }

    #sites {
        flex-grow: 2;
        margin-right: 150px;

        li {
            text-align: left;
        }

        a {
            text-decoration: underline;
        }
    }

    #legal {
        margin-top: 30px;
        min-height: 100px;
        font-size: 0.8rem;
    }
}