<footer>
    <div id="footer-navs-holder" class="flex gray">
        <nav id="socials">
            <ul class="flex space-evenly no-bullet">
                <li>Ln</li>
                <li>Fb</li>
                <li>X</li>
                <li>YT</li>
                <li>IG</li>
            </ul>
        </nav>
        <nav id="sites" class="flex justify-evenly">
            <ul class="no-bullet">Films</ul>
            <ul class="no-bullet">Tech</ul>
            <ul class="no-bullet">Careers</ul>
            <ul class="no-bullet">More</ul>
        </nav>
    </div>
    <div>
        <span>Do Not Sell or Share My Personal Information</span>
        <span><a href="">Privacy Policy</a> | <a href="">Your US State Privacy Rights</a> | <a href="">Children's Online
                Privacy Policy</a> | <a href="">Interest Based Ads</a> | <br>
            © 1986-2025 Disney-Pixar
        </span>
    </div>
</footer>