<footer>
    <div id="footer-navs-holder" class="flex gray">
        <nav id="socials">
            <ul class="flex justify-start no-bullet">
                <li>
                    <a href="https://www.linkedin.com/company/pixar-animation-studios">
                        <img src="assets/icons/bxl-linkedin.svg" alt="LinkedIn">
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/Pixar/">
                        <img src="assets/icons/bxl-facebook.svg" alt="Facebook">
                    </a>
                </li>
                <li>
                    <a href="https://x.com/pixar">
                        <img src="assets/icons/bxl-twitter.svg" alt="Twitter">
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/pixar">
                        <img src="assets/icons/bxl-youtube.svg" alt="YouTube">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/pixar/">
                        <img src="assets/icons/bxl-instagram.svg" alt="Instagram">
                    </a>
                </li>
            </ul>
        </nav>
        <nav id="sites" class="flex justify-evenly align-top">
            <ul class="no-bullet">
                <li class="list-header">Films</li>
                <li><a [href]="SITE_URL + '/features'">Features</a></li>
                <li><a [href]="SITE_URL + '/shorts'">Shorts</a></li>
                <li><a [href]="SITE_URL + '/series'">Series</a></li>
                <li><a [href]="SITE_URL + '/sparkshorts'">Sparkshorts</a></li>
                <li><a [href]="SITE_URL + '/documentaries'">Documentaries</a></li>
            </ul>
            <ul class="no-bullet">
                <li class="list-header">Tech</li>
                <li><a [href]="SITE_URL + '/technology'">Tech at Pixar</a></li>
                <li><a [href]="SITE_URL + '/renderman'">RenderMan</a></li>
                <li><a [href]="SITE_URL + '/openusd'">Open USD</a></li>
                <li><a [href]="SITE_URL + '/software'">Software R&D</a></li>
                <li><a [href]="SITE_URL + '/libraries'">Technology Libraries</a></li>
            </ul>
            <ul class="no-bullet">
                <li class="list-header">Careers</li>
                <li><a [href]="SITE_URL + '/careers'">Careers</a></li>
                <li><a [href]="SITE_URL + '/internships'">Internships</a></li>
                <li><a [href]="SITE_URL + '/life-pixar'">Life at Pixar</a></li>
            </ul>
            <ul class="no-bullet">
                <li class="list-header">More</li>
                <li><a [href]="SITE_URL + '/leaders'">Leaders</a></li>
                <li><a [href]="SITE_URL + '/story'">Our Story</a></li>
                <li><a [href]="SITE_URL + '/events'">Events</a></li>
                <li><a [href]="SITE_URL + '/pixar-box'">Pixar In A Box</a></li>
                <li><a [href]="SITE_URL + '/faqs'">Company FAQ's</a></li>
            </ul>
        </nav>
    </div>
    <div id="legal">
        <span class="wf">Do Not Sell or Share My Personal Information</span>
        <span>
            <a [href]="SITE_URL + '/privacy'">Privacy Policy</a> | <a [href]="SITE_URL + '/privacy-us'">Your US State
                Privacy Rights</a> | <a [href]="SITE_URL + '/privacy-children'">Children's Online
                Privacy Policy</a> | <a [href]="SITE_URL + '/ads'">Interest Based Ads</a> | <br>
            © 1986-2025 Disney-Pixar
        </span>
    </div>
</footer>