section {
    text-align: center;
    position: relative;
    height: 660px;
    background-color: red;
    overflow-y: hidden;

    #background {
        position: absolute;
        top: 0px;
        width: 100%;
    }
}