<main>
    <section id="main-subholder">
        <div id="win-or-lose" class="row triple-row wf flex justify-around nowrap">
            <div id="win-or-lose-left" class="flex justify-start">
                <a href="">
                    <img [src]="SITE_URL + '/assets/img/wol_home.png'" alt="" height="300px">
                </a>
            </div>
            <div id="win-or-lose-right" class="flex col">
                <a href="">
                    <img [src]="SITE_URL + '/assets/img/wol_logo.png'" alt="" height="170px">
                </a>
                <h2>FEBRUARY 19</h2>
                <a href="">
                    <img [src]="SITE_URL + '/assets/img/d+.png'" alt="" height="70px">
                </a>
            </div>
        </div>

        <div id="careers" class="row triple-row wf flex justify-between" style="background-color: red;">
            <div id="careers-left" class="flex col justify-between">
                <div class="wf" style="background-color: blue;"></div>
                <div class="wf" style="background-color: green;"></div>
            </div>
            <div id="careers-right">
                <a class="wf flex col align-start">
                    <h1>Careers at Pixar</h1>
                    <p>
                        At pixar, we are proud of our tradition of creative <br>
                        and technical excellence and are always looking for <br>
                        talented people to enrich our work and our community.
                        <a href="">Learn more</a>
                    </p>
                </a>
            </div>
        </div>

        <div class="row double-row wf"></div>

        <div class="row double-row wf flex">
            <div id="dream-prods"></div>
            <div id="hoppers"></div>
            <div id="ts5"></div>
        </div>
    </section>
</main>